.BackgroundImage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
}

#page-1 {
  .BackgroundImage {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7f/Pug_portrait.jpg');
    background-blend-mode: multiply;
  }
}

#page-3 {
  .BackgroundImage {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://dirtyscribbles.files.wordpress.com/2013/06/pug-party.jpg');
    background-blend-mode: multiply;
  }
}
