.Page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.SmallTitle {
  font-weight: 300;
  font-size: 1em;
  line-height: $line-height;
  margin: 0;
  text-transform: none;
  border: none;
}

.Page__header, .Page__footer {
  font-size: 0.75em;
  font-weight: 300;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}


